{{!-- Hide header background on the home page --}}
<style>
  .header {
    background-color: transparent;
    box-shadow: none;
  }
</style>

<section class="section hero hero-large">
  <div class="hero-inner">
    <h1 class="hero-inner-home-heading">Welcome to the Developer Hub.</h1>
    <div class="hero-inner-search">
      {{search submit=false instant=settings.instant_search class="search search-full" placeholder="Start your search here..."}}
    </div>
    <p class="hero-inner-description"><strong><i class="fas fa-book"></i> Guides:</strong> getting started with <a
        href="/hc/en-us/articles/360018437238">EMnify</a>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        <li class="blocks-item">
          <a href="/hc/en-us/community/topics">
<img alt="Community" src="{{asset 'community.svg'}}">
            <h2 class="blocks-item-title">Ask the Community</h2>
            <p class="blocks-item-description">Get tips and help from fellow Developers using EMnify</p>
          </a>
        </li>
        {{#each categories}}
        {{#if ../has_multiple_categories}} 
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            {{#is name 'Frequently Asked Questions'}}
            <img alt="FAQ" src="{{asset 'faq.svg'}}" />
            {{/is}}
            {{#is name 'Tutorials'}}
            <img alt="Evoko Minto" src="{{asset 'tutorials.svg'}}" />
            {{/is}}
            {{#is name 'Getting Started'}}
            <img alt="Evoko Groupie" src="{{asset 'gettingstarted.svg'}}" />
            {{/is}}
            {{#is name 'Knowledge Base'}}
            <img alt="Evoko Pusco" src="{{asset 'knowledgebase.svg'}}" />
            {{/is}}
            {{#is name 'Product'}}
            <img alt="Evoko Naso" src="{{asset 'product.svg'}}" />
            {{/is}}
            {{#is name 'Support'}}
            <img alt="General" src="{{asset 'support.svg'}}" />
            {{/is}}
            <h2 class="blocks-item-title">{{name}}</h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{else}}
        {{#each sections}}
        <li class="blocks-item">
          <a href='{{url}}' class="blocks-item-link">
            <h2 class="blocks-item-title">
              {{name}}
            </h2>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{!-- {{#if promoted_articles}}
    <section class="articles">
      <h3>{{t 'promoted_articles'}}</h3>
      <ul class="article-list promoted-articles">
        {{#each promoted_articles}}
        <li class="promoted-articles-item">
          <a href="{{url}}">
            {{title}}

            {{#if internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/if}}
  </section> --}}

    {{!-- {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
      {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
    {{/if}} --}}

    {{!-- <section class="section activity">
      {{#if settings.show_recent_activity}}
      {{recent_activity}}
      {{/if}}
    </section> --}}
</div>